.container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.message, .interlocutor {
    padding: 10px;
    background-color: #d9fbd3;
    margin-bottom: 10px;
    border-radius: 10px;
}

.interlocutor {
    align-self: flex-start;
    background-color: #fff;
}
