.waContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: opacity(75%);
}

.waImg {
    display: block;
    width: 300px;
    margin-bottom: 50px;
}

@media (min-width: 1200px) {
    .waContainer {
        padding: 50px;
    }
  }
  
  @media (max-width: 600px) {
    .waContainer {
        justify-content: center;
    }
    .waImg {
      width: 100%;
    }
  }