@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
* {
  font-family: 'Ubuntu Mono', monospace;
}
.App {
  /* text-align: center; */
  width: 100%;
  position: relative;
}

.green {
  height: 13vh;
  background-color: #01a884;
}

.grey {
  height: 87vh;
  background-color: #d9dcdc;
}

.main {
  position: absolute;
  background-color: hsl(216deg 20% 95.1%);
  /* background-color: #efeae2; */
  width: 84%;
  height: 95vh;
  top: 20px;
  left: 150px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


